body html{
    width: 100%;
    margin:0%;
    padding:0%;
}

.divAttributes{
    width: 100%;
}


#main-page{
    margin-top: -19px;
    /*background-color: gray;*/
    height: 50vw;
    background-image: url("../imgs/blue-background.jpg");
}

#church-ministries{
    /*background-color: #bfbfbf;*/
    height: 43vw;
    background-image: url("../imgs/ministriesImage.jpeg");
    background-repeat:no-repeat;
    background-size: cover;

}


#who-we-are{
    /*background-color: #bababa;*/
    height: 40vw;
    background-image: url("../imgs/whatWeBelieveImage.png");
    background-repeat:no-repeat;
    background-size: 100vw;
}

#youth{
    /*background-color: #797979;*/
    height:33vw;
    background-image: url("../imgs/youthImage5.jpg");
    background-repeat:no-repeat;
    background-size: 100vw;


}

#lastDiv{
    height: 35em;
    background-color: dodgerblue;
}

#assembly-logo{
    width: 40px;
    height: 45px;
    margin-top: -29%;
    /*align-content: center;*/
}

#welcomeId{
    font-family: 'Vast Shadow', cursive;
    padding-top: 15%;
    padding-left: 30%;
    font-size: 5vw;
    color:  ghostwhite;
}

#secondLineId{
    padding-left: 25%;
    font-size: 3vw;
    color:  ghostwhite;
}

#youth-ministires-text{
    padding-top: 32%;
    padding-left: 35%;
    font-size: 306%;
}

#join-us-for-worship{
    background-color: black;
    /*height: 51vw;*/
    padding: 55px 0 0 0;

}

#mapDiv{
    height: 300px;
    width: 100%;
}

#join-us{
    font-size: 25px;
    color: white;
}
